@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;

}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidenav{
    height: calc(100vh - theme('spacing.32'));
}
th:first-child{
    border-bottom-left-radius: 6px;
}
th:last-child{
    border-bottom-right-radius: 6px;
}
.header-shadow{
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
}
#table{
    top: -3px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
}
.imagegroup{
    width: 30%;
}
.formgroup{
    width: 70%;
}
.imagepreview{
    width: 15rem;
    height: 15rem;
}
.imagewrapper{
    padding-top: 42px;
    padding-bottom: 36px;
}
.svgpreview{
    width: 295.4px;
}
.svgwrapper{
    padding-top: 15px;
    padding-bottom: 8px;
}
.absolutesvgwrapper{
    padding-top: 295.38px;
    width: 240px;
}
.absoluteimgwrapper{
    padding-top: 267px;
    width: 240px;
}

.menu-active :first-child{
    color: rgb(255 255 255);
}

.loadingSpinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.loadingSpinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.adminbg{
    background-image: url("../images/admin.jpg");
    background-size: cover;
}

.doctorbg{
    background-image: url("../images/doctor.jpg");
    background-size: 65%;
    background-color: rgb(232,237,240);
    background-repeat: no-repeat;
    background-position: 80%    
}

.technicianbg{
    background-image: url("../images/technician.jpg");
    background-size: 65%;
    background-color: rgb(196,216,215);
    background-repeat: no-repeat;
    background-position: right   
}

.patientbg{
    background-image: url("../images/patient.jpg");
    background-size: 70%;
    background-color: rgb(101,171,230);
    background-repeat: no-repeat;
    background-position: 90%   
}

.staffbg{
    background-image: url("../images/staff.jpg");
    background-size: 65%;
    background-color: rgb(225,229,232);
    background-repeat: no-repeat;
    background-position: right   
}

.doc1{
    background-image: url("../images/doc1.jpg");
    background-size: cover;
    background-position: center;
}
.doc2{
    background-image: url("../images/doc2.jpg");
    background-size: cover;
    background-position: center;
}
.doc3{
    background-image: url("../images/doc3.jpg");
    background-size: cover;
    background-position: 37%;
}

/* Apply perspective to create a 3D effect */
.card-container {
  perspective: 1000px;
}

/* The card div with flip animation */
.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

/* Front side of the card */
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

/* Back side of the card */
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

/* Apply this class to the card when flipped */
.card.flip {
  transform: rotateY(180deg);
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

/* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}




